<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%=title%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/upload.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="img/SARA.png">
    

</head>

<body style="background: white;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="/">
            <%=title%>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" data-toggle="modal" data-target="#buyToken">
                    <a class="nav-link" href="#">Buy SATs
                    </a>
                </li>
                <li class="nav-item" data-toggle="modal" data-target="#sellToken">
                    <a class="nav-link" href="#">Sell SATs
                    </a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-success my-2 my-sm-0" id="btn-signin" href="/logout">Logout</a>
            </form>

        </div>
    </nav>


    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card">
                <img class="card-img-top" style="height:60%;" src="/img/Avatar.png" alt="Card image cap">
                <div class="card-body">
                    <center>
                        <h3 class="card-title"><strong><%=user.uname%></strong></h3>
                    </center>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name :
                        <%=user.fname%>&nbsp;
                            <%=user.lname%>
                    </li>
                    <li class="list-group-item">Email Id :
                        <%=user.email%>
                    </li>
                    <li class="list-group-item">Account Balance : <span id="balance"><%=balance%></span> SAT

                    </li>
                    <li class="list-group-item">Credibility : <span id="balance"><%=credibility%></span> points

                    </li>
                </ul>

            </div>
        </div>


        <script type="text/javascript">
            $(document).ready(function() {

                function sendyes(hash) {
                    var status = "YES";
                    alert(status);
                    $('#inputhash').val(hash);
                    $('#status').val(status);
                }


                function sendno(hash) {
                    var status = "NO";
                    alert(status);
                    $('#inputhash').val(hash);
                    $('#status').val(status);
                }
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                var balance = parseInt($('#balance').html());
                if (balance < 10) {
                    $('button').prop('disabled', true);
                    swal("Low Balance!", "Please buy tokens to continue reviewing", "error");
                }

            });
        </script>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

            <br><br>

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">New Papers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Reviewed Papers</a>
                </li>

            </ul>
            <div class="tab-content" id="pills-tabContent">


                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <% if(sub1.length == 0){%>
                        <center>
                            <h6>No Papers yet</h6>
                        </center>
                        <%}else{%>
                            <select id="new-domain" value="All">
                                <option val="all" selected="">All</option>
                                <option val="Machine Learning">Machine Learning</option>
                                <option val="Blockchain">BlockChain</option>
                                <option val="Cloud Computing">Cloud Computing</option>
                                <option val="Artificial Intelligence">Artificial Intelligence</option>
                                <option val="Cyber Security">Cyber Security</option>
                                <option val="Computer Networks">Computer Networks</option>
                                <option val="Digital Signal Processing">Digital Signal Processing</option>
                    </select>
                            <table class="table-fill" id="new-papers">
                                <thead>
                                    <tr>
                                        <th class="text-left" style="width:75%;">Hash Value</th>
                                        <th class="text-left" style="width:20%;">Domain</th>

                                        <th class="text-left">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="table-hover">
                                    <%for(var i=0;i<sub1.length;i++){%>
                                        <tr>
                                            <td class="text-left">
                                                <a target="_blank" href="http://localhost:8080/ipfs/<%=sub1[i].h%>">
                                                    <%=sub1[i].h%>
                                                </a>
                                            </td>
                                            <td class="text-left">
                                                <%=sub1[i].domain%>
                                            </td>
                                            <td class="text-left" id="accuracy"><button class="btn btn-sm btn-success" data-toggle="modal" data-target="#exampleModal" id="yes" onclick="$('#inputhash').val('<%=sub1[i].h%>');">Review</button></td>
                                        </tr>
                                        <%}%>

                                </tbody>
                            </table>
                            <%}%>
                </div>



                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <% if(sub2.length == 0){%>
                        <center>
                            <h6>No Papers yet</h6>
                        </center>
                        <%}else{%>
                            <select id="domain" value="All">
                                <option val="all" selected="">All</option>
                                <option val="Machine Learning">Machine Learning</option>
                                <option val="Blockchain">BlockChain</option>
                                <option val="Cloud Computing">Cloud Computing</option>
                                <option val="Artificial Intelligence">Artificial Intelligence</option>
                                <option val="Cyber Security">Cyber Security</option>
                                <option val="Computer Networks">Computer Networks</option>
                                <option val="Digital Signal Processing">Digital Signal Processing</option>
                    </select>

                            <table class="table-fill" id="paper">
                                <thead>
                                    <tr>
                                        <th class="text-left" style="width:5%;">Sr. No. </th>
                                        <th class="text-left">Hash Value</th>
                                        <th class="text-left"> Domain</th>

                                        <th class="text-left">Info</th>
                                    </tr>
                                </thead>
                                <tbody class="table-hover">
                                    <%for(var i=0;i<sub2.length;i++){%>
                                        <tr>
                                            <td class="text-left" id="accuracy">
                                                <%= i %>
                                            </td>
                                            <td class="text-left">
                                                <a href="http://localhost:8080/ipfs/<%=sub2[i].h%>" target="_blank">
                                                    <%=sub2[i].h%>
                                                </a>
                                            </td>
                                            <td class="text-left">
                                                <%=sub2[i].domain%>
                                            </td>
                                            <td><a class="btn btn-sm btn-success" data-toggle="modal" data-target="#content<%=i%>" id="yes" style="color:white;">Info</a></td>
                                        </tr>



                                        <div class="modal fade" id="content<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <%for(var j=0;j<sub2[i].reviews.length;j++){%>
                                                            <ul style="list-style-type:none">
                                                                <li><strong>Marks : </strong><span><%=sub2[i].reviews[j].Marks%></span></li>
                                                                <li><strong>Comments : </strong><span><%=sub2[i].reviews[j].Comments%></span></li>
                                                            </ul>
                                                            <hr>
                                                            <%}%>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <%}%>


                                </tbody>
                            </table>
                            <%}%>
                </div>


            </div>
        </div>
    </div>




    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
                </div>
                <div class="modal-body">
                    <form class="form" action="/review" method="POST">
                        <label>Hash Value : </label><input id="inputhash" type="text" name="hashvalue" value="" readonly>
                        <br>
                        <label>Marks: </label>
                        <input id="status" name="marks" type="number" max=10 min=0>
                        <br>
                        <label>Comments : </label>
                        <br>
                        <textarea rows="4" cols="50" required name="comments"></textarea>
                        <input class="btn btn-danger btn-lg" id="btn-upload" type="submit" value="Confirm" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="buyToken" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buy SATs</h5>
                </div>
                <div class="modal-body">
                    <form class="form" action="/">
                        <label>Buy Tokens: </label>
                        <input id="buyT" name="buyT" type="number" max=100 min=1>
                        <input class="btn btn-info btn-lg" id="btn-buy" type="button" value="Confirm" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sellToken" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sell SATs</h5>
                </div>
                <div class="modal-body">
                    <form class="form" action="/">
                        <label>Sell Tokens: </label>
                        <input id="sellT" name="sellT" type="number" min=1>
                        <input class="btn btn-info btn-lg" id="btn-sell" type="button" value="Confirm" />
                    </form>
                </div>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript" src="js/navbar.js"></script>
    <script type="text/javascript" src="js/upload.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            var host = window.location.hostname;;

            $('#new-domain').val('All');
            $('#domain').val('All');

            $('#new-domain').on('change', function() {
                var domain = ($(this).find(":selected").val()).toLowerCase();
                if (domain === "all") {
                    domain = "";
                }
                $("#new-papers tbody tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(domain) > -1)
                });


            });

            $('#domain').on('change', function() {
                var domain = ($(this).find(":selected").val()).toLowerCase();
                if (domain === "all") {
                    domain = "";
                }
                $("#paper tbody tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(domain) > -1)
                });


            });


        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {

            // e.preventDefault();

            $('#btn-sell').click(function() {
                var x = $('#sellT').val();
                var bal = parseInt($('#balance').text());
                if (x > bal) {
                    swal("Cancelled", "You cannot sell amount higher than balance", "error");
                } else {
                    swal({
                        title: "Are you sure?",
                        text: "You will not be taken aback!",
                        icon: "warning",
                        buttons: [
                            'No, cancel it!',
                            'Yes, I am sure!'
                        ],
                        dangerMode: true,
                    }).then(function(isConfirm) {
                        if (isConfirm) {
                            swal({
                                title: 'Confirmation',
                                text: 'Tokens are successfully debited! wait till we redirect you...Do not press anything!',
                                icon: 'success'
                            }).then(function() {
                                $.post('/sellTokens', {
                                    data: x
                                }, function(response) {
                                    window.location.reload();
                                });
                            });
                        } else {
                            swal("Cancelled", "You can come back again:)", "error");
                        }
                    });
                }
            });

            $('#btn-buy').click(function() {
                var x = $('#buyT').val();

                swal({
                    title: "Are you sure?",
                    text: "You will not be taken aback!",
                    icon: "warning",
                    buttons: [
                        'No, cancel it!',
                        'Yes, I am sure!'
                    ],
                    dangerMode: true,
                }).then(function(isConfirm) {
                    if (isConfirm) {
                        swal({
                            title: 'Confirmation',
                            text: 'Tokens are successfully credited! wait till we redirect you...Do not press anything!',
                            icon: 'success'
                        }).then(function() {
                            $.post('/buyTokens', {
                                data: x
                            }, function(response) {
                                window.location.reload();
                            });
                        });
                    } else {
                        swal("Cancelled", "You can come back again:)", "error");
                    }
                });
            });
        });
    </script>

</body>

</html>